*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logo span {
    color: cornflowerblue;
}

.navigation a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius:10px;
    font-weight: 500;
    margin-left: 25px;
    transition: .5s;
}

.navigation a:hover {
    background: transparent;
    color: white;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px white;
}

#active {
    background: transparent;
    color: white;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px white;
}

.home {
    height: 100vh;
    background: rgb(0, 0, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.h_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 480px;
    background: transparent;
    border-radius: 50%;
    border: 25px solid rgb(255, 174, 255);
    outline: 25px solid rgb(0, 0, 95);
}

.h_img img {
    position: relative;
    max-width: 400px;
    border-radius: 50%;
}

.h_content {
    margin-top: 50px;
    max-width: 600px;
    color: white;
    text-align: right;
}

.h_content h1 {
    font-size: 45px;
    line-height: 1.2;
}

.h_content h3 {
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: .5px white;
}

.hobbies {
    display: flex;
    text-align: left;
    width: fit-content;
    height: auto;
    border: 2px solid rgb(0, 0, 95);
    border-radius: 5px;
    color: white;
    margin-left: 150px;
}

.h_content p {
    font-size: 15px;
    margin-top: 20px;
    text-indent: 0 15px;
}

.info {
    margin-top: 30px;
    max-width: 600px;
    text-align: right;
}

.info img {
    float: left;
    position: relative;
    margin: 0 15px;
    width: 200px;
    border-radius: 10%;
}

.info p {
    font-size: 15px;
    text-align: left;
}

.h_soc {
    margin: 20px 0 30px;
}

.h_soc a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: cornflowerblue;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}

.h_soc a:hover {
    background: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.f_bot {
    background-color: navy;
    padding: 20px;
    text-align: center;
}

.f_bot p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}